<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.AttInStorehouseMapper">

    <select id="findPages" resultType="org.jeecg.modules.business.entity.AttInStorehouse">
        SELECT
            A.*,
            B.sup_code,
            B.sup_name,
            C.att_name,
            C.att_code
        FROM att_in_storehouse A
        LEFT JOIN att_supplier B ON B.id = A.sup_id
        LEFT JOIN att_attachment C ON C.id = A.att_id
        ${ew.customSqlSegment}
    </select>

</mapper>